# [eclipse]
.project
.settings
.classpath
.factorypath
.externalToolBuilders

*/.project
*/.settings
*/.classpath
*/.factorypath
*/.externalToolBuilders


# [maven]
target
.mvn

*/target
*/.mvn


# [gradle]
.gradle
build
bin

*/.gradle
*/build
*/bin

# [application]
logs
*/logs
