<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <logger name="org.springframework.data.repository.config.RepositoryConfigurationDelegate" level="error" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.springframework.web.servlet.FrameworkServlet" level="debug" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.springframework.security.web" level="info" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="com.zaxxer.hikari.pool.HikariPool" level="info" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="io.lettuce.core" level="info" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.springframework.data.redis" level="info" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.apache.kafka" level="error" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
</configuration>
