<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
  <springProperty name="SERVICE_NAME" source="spring.application.name" scope="context"/>
  <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>
  <property name="LOG_FILE" value="${LOG_FILE:-app}"/>
  <property name="MAX_HISTORY" value="${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-2}"/>
  
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%C]){cyan}:%L{cyan} ## %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- 
  <appender name="ECS_JSON_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder class="co.elastic.logging.logback.EcsEncoder">
      <serviceName>${SERVICE_NAME}</serviceName>
    </encoder>
    <file>${LOG_PATH}/${LOG_FILE}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${LOG_FILE}.log.%d{yyyy-MM-dd}.gz
      </fileNamePattern>
      <maxHistory>${MAX_HISTORY}</maxHistory>
    </rollingPolicy>
  </appender>
  -->
  
  <!-- 
  <logger name="ECS_JSON" level="debug" additivity="false">
    <appender-ref ref="ECS_JSON_FILE_APPENDER"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  -->
  
  <logger name="com.netflix.discovery.DiscoveryClient" level="warn" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.apache.kafka.clients.NetworkClient" level="debug" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
